<header>
  <div class="top__nav">
    <ul>
      <li><a routerLink="home" class="active">Home</a></li>
      <li><a href="#">Sports</a></li>
      <li><a href="#">In Play</a></li>
      <li><a href="#">Casino</a></li>
      <li><a href="#">Live Casino</a></li>
      <li><a href="#">Promotion</a></li>
      <li><a routerLink="/practice">Practice</a></li>
      <li><a routerLink="/orders">Orders</a></li>
      <li><a *ngIf="exclusive">Exclusive</a></li>

    </ul>
  </div>
  <nav>
    <div class="main__nav">
      <div class="nav__left">
        <i class="fas fa-bars"></i>
        <a href="/"><img src="/assets/img/navlogo.png" alt="" /></a>
      </div>
      <div class="nav__right">
        <ul>
          <li><a href="#">Login</a></li>
        </ul>
        <button class="btn">Join now</button>
      </div>
    </div>
  </nav>
</header>
<!-- <router-outlet></router-outlet> -->