<footer>
    <div class="spacer">
        <div class="main__footer">
            <div class="first__footer">
                <div class="left__footer">
                    <img src="assets/img/Logo.png" alt="logo">
                    <p>License Number MGA/B2C/331/2016 issued on 1 August 2018. Ocean Star Limited, Dragonara
                        Business
                        Centre, 5th Floor, Dragonara Road, St. Julians STJ3141, Malta
                    </p>

                    <!--  -->
                    <div class="custom-select">
                        <span class="cnimg"><img src="assets/img/englogo.png" alt=""></span>
                        <select name="" id="">
                            <option value=""> <img src="assets/img/englogo.png" width="100%" alt="">English</option>
                        </select>
                        <span class="custom-arrow"></span>
                    </div>

                    <!--  -->

                    <!-- <div class="dropdown">
                        <img src="assets/img/englogo.png" alt="">
                        <p>English</p>
                        <i class="fas fa-chevron-down"></i>
                    </div> -->
                </div>
                <div class="right__footer">
                    <div class="col one">
                        <h4>About</h4>
                        <p>About Company</p>
                        <p>Responsible Gaming</p>
                        <p>Affiliate Program </p>
                    </div>
                    <div class="col two">
                        <h4>Help</h4>
                        <p>FAQ</p>
                        <p>Contact Us</p>
                        <p>Sport Betting Rules</p>
                        <p>Live Casino</p>
                        <p>Deposits</p>
                        <p>Withdrawals </p>
                    </div>
                    <div class="col three">
                        <h4>REGULATIONS</h4>
                        <p>RNG Certificate</p>
                        <p>General Terms and Conditions </p>
                        <p>Privacy Policy</p>
                    </div>
                </div>
            </div>
            <p class="hrline"></p>
            <div class="second_footer">
                <div class="sec__left__footer">
                    <img src="assets/img/Logos.png" alt="">
                </div>
                <div class="sec__right__footer">
                    <div class="sec__right__footer__img">
                        <img src="assets/img/curacaoegaming-logo 1.png" alt="">
                    </div>
                    <p>100bet.com is operated by Radon B.V. (Commercial register of Curacao no.126922
                        Emancipatie
                        Boulevard 29, Curacao) under a sublicense CIL pursuant to Master gaming License
                        №5536/JAZ.
                        Play responsibly.</p>
                </div>
            </div>
            <p class="hrline"></p>
            <div class="copyright">
                <p>Copyright © 2021 100bet. All Rights Reserved.</p>
            </div>
        </div>
    </div>
</footer>