<div class="spacer">
    <div class="card__section">
        <div class="card">
            <div class="card__content">
                <h4>Sports</h4>
                <button class="btn">go to sports</button>
            </div>
        </div>
        <div class="card">
            <div class="card__content">
                <h4>Casino </h4>
                <button class="btn">go to sports</button>
            </div>
        </div>
        <div class="card">
            <div class="card__content">
                <h4>Live Casino</h4>
                <button class="btn">go to sports</button>
            </div>
        </div>
    </div>

</div>
<p class="hrline"></p>