@import "../_variables.scss";

.card__section {
  height: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 3rem 0 6rem 0;

  .card {
    position: relative;
    width: 360px;
    height: 260px;
    object-fit: cover;
    margin: 2rem;
    border-radius: 1rem;
    background-size: cover;
    transition: 200ms transform ease-in-out;

    &:hover {
      transform: scale(1.02);
    }

    .card__content {
      position: absolute;
      bottom: 16px;
      left: 50%;
      transform: translate(-50%);
      text-align: center;
      h4 {
        color: $secondary_text_color;
        font-size: 2rem;
        font-weight: normal;
      }
      button {
        text-transform: capitalize;
        margin-top: 1rem;
        width: max-content;
      }
    }
    @media (max-width: 600px) {
      width: 90%;
      margin: 0 0 2rem 0;
      &:last-child {
        margin: 0 0 0 0;
      }
    }
  }
  @media (max-width: 600px) {
    flex-direction: column;
  }
}
