$primary_text_color: #91959e;
$secondary_text_color: #ffffff;
$highlight_text_color: #fed40c;
$primary_bg_color: #1e3984;
$secondary_bg_color: linear-gradient(180deg, #242e42 0%, #1f2228 100%);
$primary_btn_bg: #fed40c;
